.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}
.nav-items{
    display: flex;
}

li{
    padding: 20px;
    margin: 20px;
    /* text-decoration: none; */
    list-style-type: none; 
}
.res-card{
    margin: 10px;
    padding: 5px;
    height: min-content;
    width: min-content;
   
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.res-card:hover{
    border: 2px solid black;
    cursor: pointer;
}