.nav-bar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 20px;
}
.nav-list {
  display: flex;
  justify-content: end;
  list-style: none;
}
ul > li {
  margin: 20px;
}

.card-flex{
  display: flex;
  flex-wrap: wrap;
}

.card-container{
  margin: 20px;
  width: min-content;
}
.card-container:hover{
  border: 2px solid black;
cursor: pointer;
}
.input-container{
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #e9e9e9;
  display: flex;
  justify-content: center;
}

.input-container input[type=text]{
    /* float: right; */
    padding: 20px;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

.input{
  width: 25%;
  
  
}

.footer {
  font-size: large;
  scroll-behavior: smooth;
  padding: 32px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: firebrick;
  color: white;
  text-align: center;
}