html{
    font-size: 22px;
}
body{
    background-color: #333;
    color: whitesmoke;
}

#header{
    text-align: center;
}
table,tr,td,th,caption{
    border: 2px solid black;
    border-collapse: collapse;
}